<!DOCTYPE html>
<html>
<head>
    <title>spotify live dj session test</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://kit.fontawesome.com/d1328a1a31.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='spotify-player.js') }}"></script> -->
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <link rel="stylesheet" href ="static/style.css">

</head>
<body>  
    <div id="header">
        <img src="static/Logo.png" class="logo">
    </div>
    <div id="contents">
        <div id="search">
            <h4>Suche:</h4>
            <input id="searchbox" type="text">
            <button onclick="search()" class="button">Gogo</button><br>
            <span id="search-res-0"></span><br>
            <span id="search-res-1"></span><br>
            <span id="search-res-2"></span><br>
            <span id="search-res-3"></span><br>
            <span id="search-res-4"></span><br>
            <span id="search-res-5"></span><br>
            <span id="search-res-6"></span><br>
            <span id="search-res-7"></span>
        </div>
        <div id="webplayer">
            <img id="current-track" src="static/cover.png" alt="albumcover should be displayed here" width="300" height="300"/><br>
            <span id="current-track-name"></span> <br>
            <div id="artists"></div>
            
            <div id="songbuttons">
                <span class="fas fa-step-backward songnavigation skipprevious" onclick="previous(); "></span>
                <div id="playbox"><i class= "far fa-play-circle songnavigation playpause" onclick="songHandler(); changeIcon();"></i></div>
                <span class="fas fa-step-forward songnavigation skipprevious" onclick="skip()"></span>
            </div>
            <br><br>
            <button onclick="readJson()" class="button">message event</button>
        </div>
        <div id="parameter">
            <div id="slidecontainer">
                Loudness<br>
                <span id="slider_value1" style="color:lightgrey;font-weight:bold;"></span><br>
                <input type="range" min="-5" max="5" value="0" step="0.001" class="slider" id="Loudness" onchange="show_value1(this.value)"><br><br>
                Danceability<br>
                <span id="slider_value2" style="color:lightgrey;font-weight:bold;"></span><br>
                <input type="range" min="-5" max="5" value="0" step="0.001" class="slider" id="Danceability" onchange="show_value2(this.value)"><br><br>
                Tempo<br>
                <span id="slider_value3" style="color:lightgrey;font-weight:bold;"></span><br>
                <input type="range" min="-5" max="5" value="0" step="0.001" class="slider" id="Tempo" onchange="show_value3(this.value)"><br><br>
                Distance <br>
                <span id="slider_value4" style="color:lightgrey;font-weight:bold;"></span><br>
                <input type="range" min="-5" max="5" value="0" step="0.001" class="slider" id="Distance"onchange="show_value4(this.value)"><br><br>
                <button onclick="save()" class="button">Save</button>
        </div>
        </div>
    </div>
    <div id="footer"> 
        <p>FAQ</p>
    </div>
</body>
</html>